@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
        <div class="alert-primary">
            <h1 class="display-4">Seja Bem vindo</h1>
        </div>
        <br />
    </div>
<tbody>
    
    <tr>
        <td>
            <button class="alert-primary">
                @Html.ActionLink("Login", "Login", "Pessoa")
            </button>
        </td>
    </tr>
    
</tbody>